 <section>
  <h1>我的社区</h1>
  <p>你可以在如下社区找到我：
  <ul>
   	<li class="post">
		<a href="http://www.douban.com/people/biaobiaoqi/">豆瓣 </a>	&nbsp;&nbsp;<a href="https://twitter.com/YapengShen">Twitter </a>&nbsp;&nbsp;<a href="http://weibo.com/biaobiaoqi">微博 </a>
   	</li>
   	<li class="post">
   		<a href="https://github.com/biaobiaoqi">Github </a>&nbsp;&nbsp;&nbsp;<a href="http://stackoverflow.com/users/1019336/biaobiaoqi">stackoverflow </a>&nbsp;&nbsp;&nbsp;<a href="http://www.v2ex.com/member/biaobiaoqi">V2EX </a>
   	</li>
  </ul>
</p>
</section>